.mlb-container {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
}

.team-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 10px;
}

.team-name {
  font-weight: bold;
  width: 150px;
}

.score-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.score-column {
  padding: 15px;
  background-color: lightgray;
}

.total-score {
  padding: 22px;
  background-color: green;
  color: white;
  font-weight: bold;
}
